[commit]
gpgsign = true

[credential]
helper = store

[diff "bun"]
binary = true
cachetextconv = true
textconv = bun

[gpg]
program = /opt/homebrew/bin/gpg
format = openpgp

[gpg "ssh"]
program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[filter "lfs"]
clean = git-lfs clean -- %f
process = git-lfs filter-process
required = true
smudge = git-lfs smudge -- %f

[init]
defaultBranch = main

[mergetool]
keepBackup = true

[pull]
rebase = false

[tag]
forceSignAnnotated = true
gpgsign = true

[user]
name = Purbohadi Utomo
email = purbo@purbo.co
signingkey = 8BE42C5C
